body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: rgba(15,15,15,255);
    color: rgb(84, 83, 83);
  }
  
  header {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .page-top {
    display: flex;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: flex;
    letter-spacing: -1px;
    transform: scaleY(1.2);
    /* background-color: blue; */
  }

  .logo-text {
    line-height: 30px;
    font-weight: 100%;
  }

  .logo img {
    width: 50%;
    max-height: 200px;
    object-fit: cover;
    max-width: 100px;
    margin: -16px;
  }
  
  /* .search-icon {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
  } */

  .search-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    /* background-color: green; */
  }

  .search-bar {
    padding: 5px;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
    width: 600px;
    height: 25px;
    background-color: rgba(15,15,15,255);
    border: 1px solid rgb(84, 83, 83);
    color: white;
  }
  
  .search-btn {
    padding: 8px 10px 10px;
    font-size: 16px;
    background-color: rgba(15,15,15,255);
    color: white;
    border: 1px solid rgb(84, 83, 83);
    cursor: pointer;
    border-radius: 0 20px 20px 0;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .video-card {
    border: 1px solid rgba(15,15,15,255);
    padding: 10px;
    text-align: left;
  }
  
  .video-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .video-title {
    font-size: 18px;
    margin: 10px 0;
    color: white;
  }
  
  .video-channel {
    font-size: 14px;
    color: #787878;
  }
  
  footer {
    background-color: #d40a00; /* You can choose a different color for the footer */
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  
  /* Set a minimum height for the container to fill the viewport */
.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

/* Push the footer to the bottom */
.container::after {
  content: "";
  flex: 1;
}

/* Style your footer as needed */
footer {
  background-color: #d40a00;
  color: white;
  text-align: center;
  padding: 10px;
}
